.v-container {
    width: 600px;
    height: 400px;
    background-color: beige;
    display: flex;
    position: relative;
    color: black;
    text-align: center;
    overflow: hidden;
}

.login {
    width: 50%;
    height: 100%;
    background-color: red;
}

.register {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: green;
    right: 0;
}

.logininfo {
    position: absolute;
    width: 50%;
    height: 100%;
    right: -50%;
    cursor: pointer;

}

.registerinfo {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    cursor: pointer;
}

.v-container .info::before {
    background-color: purple;
    /* border: 1px solid purple; */
    position: absolute;
    width: 300%;
    height: 100%;
    right: -250%;
    content: '';
    border-radius: 100px;
    transition: 1.8s ease-in-out;
    transition-delay: 0.6s;
}

.v-container.active .info::before {
    right: 50%;
}

.v-container.active .login {
    visibility: hidden;

}

.v-container .login {
    visibility: visible;
    /* transition-delay: 1.2s; */

}

.v-container .register {
    visibility: hidden;
     transition-delay: 2.4s;

}

.v-container.active .register {
    visibility: visible;
   

}
.v-container .logininfo {
    right: 0;
    transition: 0.6s ease-in-out ;
}
.v-container.active .logininfo {
    right: -50%;
    /* transition: all 0.3s ease-in-out ;
    transition-delay: 0.3s; */
}



.v-container.active .registerinfo {
    left: 0%;
    /* transition: 0.6s ease-in-out ; */
    /* transition: all 0.3s ease-in-out;
    transition-delay: 0.3s; */
}

.v-container .registerinfo {
    left: -50%;
    transition: 0.6s ease-in-out;
    transition-delay: 1.8s;
}