.checkout-page {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.checkout-left,
.checkout-right {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  overflow-y: auto;
}

.checkout-left h2,
.checkout-address h3 {
  margin-bottom: 10px;
}

.checkout-item {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
  border: 1px solid rgb(190, 189, 189);
  padding-bottom: 10px;
}

.checkout-item h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}


.accordion-body .checkout-address-card {
  background: white;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(190, 189, 189);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.accordion-body .checkout-address-card p {
  margin: 5px 0px;
}

.change-address-btn {
  background: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.checkout-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price-box,
.payment-section {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

.price-box h3,
.payment-section h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
 .price-box p{
  font-size:16px;
  font-weight: 300;
  margin-bottom: 5px;
 }

.payment-section label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.pay-btn {
  margin-top: 15px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.accordion {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.accordion-body {
  width: 90%;
  margin: 0px auto;
  margin-top: 10px;
}

.accordion .checkout-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.accordion .checkout-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.accordion .address-card {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 6px;
}