.edit-product-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
    width: 200px;
    height: 300px;
    text-align: start;
    padding: 10px;
    cursor: pointer;
}

.edit-product-card:hover {
    transform: scale(1.02);
}

.edit-product-image {
    width: 50%;
    height: 100px;
    object-fit: contain;
}

.edit-product-info {
    display: flex;
    flex-direction: column;
}

.discount {
    color: #f87171;
    font-size: 12px;
    margin-left: 0.5rem;
}

.more-details {
    font-size: 12px;
    margin-top: 0.5rem;
}

.description {
    font-size: 12px;
    color: #6b7280;
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.product-edit-btn {
    background-color: transparent;
    color: #5c63f8;
    border: 1px solid #5c63f8;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}
.product-edit-btn:hover {
    background-color: #5c63f8;
    color: #fff;
    border: none;
}

.product-delete-btn {
    background-color: transparent;
    color: #f9527e;
    border: 1px solid #f9527e;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}
.product-delete-btn:hover{
    background-color: #f9527e;
    color: #fff;
    border: none;
}